<div class="card">
    <h2 class="card-title">{{name}}</h2>
    <div class="card-img-top">
        <img src="{{flag}}" alt="{{name}}">
    </div>
    <div class="card-body">
        <p class="card-text">Capital: {{capital}}</p>
        <p class="card-text">Population: {{population}}</p>

        <p class="card-text"><b>Languages</b></p>
        <ul class="list-group"></ul>
        {{#each languages}}
        <li class="list-group-item">{{name}}</li>
        {{/each}}
        </ul>
    </div>
</div>